# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

*/packer_cache/*
*/output-virtualbox-iso/*
iso/*
.vagrant/*
*output-ubuntu2004/*
ubuntu2004/output-ubuntu2004/*
.vagrant
ova
ubun2110
virtualbox-ubuntu2110.box
virtualbox-ubuntu2004.box
